:root {
    --color1: #05b1b1;
    --color2: #52339a;
}
header {
    background: var(--color1);
    background: linear-gradient(90deg, var(--color1) 0%, var(--color1) 0%, var(--color2) 100%);
    background-size: contain;
    padding: 200px 0px;
    text-align: center;
    color: white;
}
body {
    background: var(--color1);
    background: linear-gradient(90deg, var(--color1) 0%, var(--color1) 0%, var(--color2) 100%);
    background-size: contain;
}
.about {
    background-color: #eee;
}
.about i {
    font-size: 25px;
    color: var(--color2);
}
.itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2); 
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;